@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
    }
    
    .dropdown-item{
        font-size: 26px;
    }

   @font-face {
        font-family: Baumans;
        src: url(Baumans-Regular.ttf);
    }
    
    @font-face {
        font-family: Roboto;
        src: url(Roboto-Bold.ttf);
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(Montserrat-Light.ttf);
    }
    
    header{
        display: flex;
        width: 600px;
        height: 60px;
        background: linear-gradient(rgb(255, 0, 179,1),#FFCB77);
        z-index: 2;
        
        position: fixed;
    }
    
    header a{
      text-decoration: none;
      color: rgb(255, 0, 179);
    }
     
    header .logo{
       margin-top: -98px;
       margin-right: 320px;
       
    }

    .menu1, .menu2{
        display: none;
    }
    


    /*Conteúdo Inicial*/
    
    .main-section{
        display: block;
        width: 600px;
        padding-top: 50px;
        
        
        

    }
    
    .main-section .mid-content img{
        display: inline-block;
        height: 400px;
        width: 400px;
        margin-left:100px;
        margin-right:100px;
    }
    
    .main-section .mid-content img:hover{
        transform: scale(1.1, 1.1) rotate(-5deg);
        
        transition: all .2s ease-in-out;
    }

    .main-section .mid-content .text{
        text-align: center;
        display: inline-block;
    }

    .brincos{
        background: linear-gradient(#FFCB77, #E7E7E7);
        padding-top: 100px;   
    }
    
    .text p{
        font-size: 2em;
        font-family: Baumans, sans-serif;
    }

    .mid-text{
        font-size: 1.3em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);
        font-family: Montserrat, sans-serif;
    }

    #brinco-text{
        display: block;
        margin-top: -1px;
        background-color: rgba(231, 231, 231, 1);
        padding-top:30px ;
        padding-bottom:30px ;
        

    }

    .pulseiras{
        padding-top: 30px;
        background: linear-gradient(#E7E7E7, #ADF0F2);
    }
    
    #pulseiras-text{
        display: block;
        margin-top: -1px;
        padding-top:30px ;
        padding-bottom:30px ;
        background-color: rgba(173, 240, 242, 1);
    }

    .colares{
        padding-top: 30px;
        background: linear-gradient(#ADF0F2, #F5CCE8);
    }

    #colares-text{
        display: block;
        margin-top: -1px;
        padding-top:30px ;
        padding-bottom:30px ;
        background: linear-gradient( #F5CCE8, white);
    }
    
    .botao{
        display: block;
        text-decoration: none;
        background: linear-gradient( 80deg, rgba(94, 207, 245, 0.7), rgb(227, 245, 243));;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 8px;
        padding: 10px;
        font-size: 0.5em;
        margin: auto;
        margin-top: 15px;
        width: 30%;
        color: white;
        
    }

    .botao:hover{
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.199);
        background: linear-gradient( 80deg,rgb(227, 245, 243),rgba(94, 207, 245, 0.7));
        color: white;
        transition: all .2s ease-in;
        
    }
/*Rodapé*/

footer{
    color: black;
    text-align: center;
    margin: auto;
    width: 90%;   
    font-family: Montserrat, sans-serif;
    width: 600px;
    margin-top: 150px;
}

footer .logofooter{
    margin-bottom: 20px;
}

footer .icon{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}


footer .allicons{
    width: 450px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.instaicon{
    display: none;
}

.allicons .face, .whats, .maps, .instaicon{
    cursor: pointer;
}

.allicons .face p, .whats p, .maps p, .instaicon p{
    opacity: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.allicons .face:hover p, .whats:hover p, .maps:hover p, .instaicon:hover p{
    opacity: 1;
    height: 20px;
    transition: all 0.2s ease-out
}

footer img{
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer p{
    font-size: 0.7em;
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}

.float{
    z-index: 99;    
    position:fixed;
    width:81px;
    height:81px;
    bottom:30px;
    right:30px;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}

#icon2{
    width: 81px;
    height: 81px;
}

    
}

@media only screen and (min-width: 601px) {
    *{
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
    }
    
    .dropdown-item{
        font-size: 26px;
   
    }

    @font-face {
        font-family: Baumans;
        src: url(Baumans-Regular.ttf);
    }
    
    @font-face {
        font-family: Roboto;
        src: url(Roboto-Bold.ttf);
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(Montserrat-Light.ttf);
    }
    
    header{
        display: flex;
        width: 100%;
        height: 60px;
        background: linear-gradient(rgb(255, 0, 179,1),#FFCB77);
        z-index: 2;
       
        position: fixed;
    }
    
    header a{
      text-decoration: none;
      color: rgb(255, 0, 179);
    }
     
    header .logo{
       display: flex;
       width: 100%;
       justify-content: start;
       margin-top: -98px;
       
    }

    .menu1, .menu2{
        display: none;
    }
    


    /*Conteúdo Inicial*/
    
    .main-section{
        display: block;
        padding-top: 50px;
        width: 100%;
        
        
        

    }
    
    .main-section .mid-content img{
        display: flex;
        height: 400px;
        width: 400px;
        margin: auto;
        
    }
    
    .main-section .mid-content img:hover{
        transform: scale(1.1, 1.1) rotate(-5deg);
        
        transition: all .2s ease-in-out;
    }
     
    .main-section .mid-content .text{
        text-align: center;
        display: inline-block;
    }

    .brincos{
        background: linear-gradient(#FFCB77, #E7E7E7);
        padding-top: 100px;   
    }
    
    .text p{
        font-size: 2em;
        font-family: Baumans, sans-serif;;
    }

    .mid-text{
        font-size: 1.3em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);
        font-family: Montserrat, sans-serif;
    }

    #brinco-text{
        display: block;
        margin-top: -1px;
        background-color: rgba(231, 231, 231, 1);
        padding-top:30px ;
        padding-bottom:30px ;
        

    }

    .pulseiras{
        padding-top: 30px;
        background: linear-gradient(#E7E7E7, #ADF0F2);
    }
    
    #pulseiras-text{
        display: block;
        margin-top: -1px;
        padding-top:30px ;
        padding-bottom:30px ;
        background-color: rgba(173, 240, 242, 1);
    }

    .colares{
        padding-top: 30px;
        background: linear-gradient(#ADF0F2, #F5CCE8);
    }

    #colares-text{
        display: block;
        margin-top: -1px;
        padding-top:30px ;
        padding-bottom:30px ;
        background: linear-gradient( #F5CCE8, white);
    }
    
    .botao{
        display: block;
        text-decoration: none;
        background: linear-gradient( 80deg, rgba(94, 207, 245, 0.7), rgb(227, 245, 243));;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 8px;
        padding: 10px;
        font-size: 0.5em;
        margin: auto;
        margin-top: 15px;
        width: 30%;
        color: white;
        
    }

    .botao:hover{
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.199);
        background: linear-gradient( 80deg,rgb(227, 245, 243),rgba(94, 207, 245, 0.7));
        color: white;
        transition: all .2s ease-in;
        
    }
/*Rodapé*/

footer{
    color: black;
    text-align: center;
    margin: auto;
    width: 90%;   
    font-family: Montserrat, sans-serif;
    width: 600px;
    margin-top: 150px;
}

footer .logofooter{
    margin-bottom: 20px;
}

footer .icon{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}


footer .allicons{
    width: 450px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.instaicon{
    display: none;
}

.allicons .face, .whats, .maps, .instaicon{
    cursor: pointer;
}

.allicons .face p, .whats p, .maps p, .instaicon p{
    opacity: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.allicons .face:hover p, .whats:hover p, .maps:hover p, .instaicon:hover p{
    opacity: 1;
    height: 20px;
    transition: all 0.2s ease-out
}

footer img{
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer p{
    font-size: 0.7em;
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}

.float{
    z-index: 99;    
    position:fixed;
    width:81px;
    height:81px;
    bottom:30px;
    right:30px;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}

#icon2{
    width: 81px;
    height: 81px;
}
}

@media only screen and (min-width: 768px){
    *{
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
    }

    @font-face {
        font-family: Baumans;
        src: url(Baumans-Regular.ttf);
    }
    
    @font-face {
        font-family: Roboto;
        src: url(Roboto-Bold.ttf);
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(Montserrat-Light.ttf);
    }
    
    #menu-sm{
        display: none;
    }
    
    header{
        display: flex;
        width: 100%;
        height: 60px;
        background: linear-gradient(rgb(255, 0, 179,1),#FFCB77);
        justify-content: space-between;
        z-index: 2;
        
        position: sticky;
    }
    
    #who-Are{
        display: none;
    }

    #contact{
        display: none;
    }

    header .menu1, .menu2{
        display: inline-flex;
        width: 100%;
        justify-content: space-around;
        font-size: 0.92em;
        margin-top: 20px;
        font-family: Montserrat, sans-serif;
    }
    
    header a{
        text-decoration: none;
        color: white;
    }
    
    header a:hover{
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.664);
        padding: 5px;
        color: white;
        border-radius: 0px;
    }
    
    header a:active{
        background: none;
        border: none;
        border-bottom: 1px solid rgba(94, 207, 245);
        
        
    }
    
    
    header .logo a:hover{
        padding: 0;
        border: none;
        background-color: transparent;
    }

    .logo{
        margin-top: -97px;
        width: 100px;
        height: 100px;
    }
    
    header .menu2 img{
        margin-left: 5px;
        margin-bottom: 6px;
    }
    
    header .menu2 #heart2{
        display: none;
    }
    
    .menu2 button{
        border: none;
        color: white;
        background: none;
    }
    
    .menu2:active #heart2{
        display: inline-block;
        margin-bottom: 6px;
    
    }
    
    .menu2:active #heart{
        display: none;
    }
    
    ul li{
        list-style: none;
        color: white;
    }
    


    /*Conteúdo Inicial*/
    
    .main-section{
        display: block;
        padding-top: 0px;
        width: 100%;
        
        
        

    }
    
    .main-section .mid-content img{
        display: flex;
        height: 490px;
        width: 490px;
        margin: auto;
        
    }
    
    .main-section .mid-content img:hover{
        transform: scale(1.1, 1.1) rotate(-5deg);
        
        transition: all .2s ease-in-out;
    }

    .main-section .mid-content .text{
        text-align: center;
        display: inline-block;
    }

    .brincos{
        background: linear-gradient(#FFCB77, #E7E7E7);
        padding-top: 100px;   
    }
    
    .text p{
        font-size: 2em;
        font-family: Baumans, sans-serif;
        
    }

    .text span{
        width: 80%;
    } 

    .mid-text{
        font-size: 1.3em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);
        font-family: Montserrat, sans-serif;

    }

    #brinco-text{
        display: block;
        margin-top: -1px;
        background-color: rgba(231, 231, 231, 1);
        padding-top:30px ;
        padding-bottom:30px ;
        

    }

    .pulseiras{
        padding-top: 30px;
        background: linear-gradient(#E7E7E7, #ADF0F2);
    }
    
    #pulseiras-text{
        display: block;
        margin-top: -1px;
        padding-top:30px ;
        padding-bottom:30px ;
        background-color: rgba(173, 240, 242, 1);
    }

    .colares{
        padding-top: 30px;
        background: linear-gradient(#ADF0F2, #F5CCE8);
    }

    #colares-text{
        display: block;
        margin-top: -1px;
        padding-top:30px ;
        padding-bottom:30px ;
        background: linear-gradient( #F5CCE8, white);
    }
    
    .botao{
        display: block;
        text-decoration: none;
        background: linear-gradient( 80deg, rgba(94, 207, 245, 0.7), rgb(227, 245, 243));;
        border: solid 1px rgb(255, 255, 255);
        border-radius: 8px;
        padding: 10px;
        font-size: 0.5em;
        margin: auto;
        margin-top: 15px;
        width: 30%;
        color: white;
        
    }

    .botao:hover{
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.199);
        background: linear-gradient( 80deg,rgb(227, 245, 243),rgba(94, 207, 245, 0.7));
        color: white;
        transition: all .2s ease-in;
        
    }
/*Rodapé*/

footer{
    color: black;
    text-align: center;
    margin: auto;
    width: 90%;   
    font-family: Montserrat, sans-serif;
    width: 600px;
    margin-top: 150px;
}

footer .logofooter{
    margin-bottom: 20px;
}

footer .icon{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}


footer .allicons{
    width: 450px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.instaicon{
    display: none;
}

.allicons .face, .whats, .maps, .instaicon{
    cursor: pointer;
}

.allicons .face p, .whats p, .maps p, .instaicon p{
    opacity: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
}

.allicons .face:hover p, .whats:hover p, .maps:hover p, .instaicon:hover p{
    opacity: 1;
    height: 20px;
    transition: all 0.2s ease-out
}

footer img{
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer p{
    font-size: 0.7em;
    width: 80%;
    margin: auto;
    margin-bottom: 5px;
}

.float{
    z-index: 99;    
    position:fixed;
    width:81px;
    height:81px;
    bottom:30px;
    right:30px;
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
}

.my-float{
    margin-top:22px;
}

#icon2{
    width: 81px;
    height: 81px;
}
}

@media only screen and (min-width: 992px){
    *{
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
    }
    
    @font-face {
        font-family: Baumans;
        src: url(Baumans-Regular.ttf);
    }
    
    @font-face {
        font-family: Roboto;
        src: url(Roboto-Bold.ttf);
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(Montserrat-Light.ttf);
    }
    body{
        overflow-x: hidden;
    }

    /*Cabeçalho*/
    
    #menu-sm{
        display: none;
    }
    
    header{
        display: flex;
        height: 60px;
        background-color: rgb(255, 0, 179);
        background: linear-gradient(rgb(255, 0, 179,1),#FFCB77);
        
        justify-content: space-between;
        z-index: 2;
        border-bottom: none;
        position: sticky;
        width: 100%;
    }
    
    header .menu1, .menu2{
        display: inline-flex;
        justify-content: space-around;
        font-size: 0.87em;
        margin-top: 20px;
        font-family: Montserrat, sans-serif;
    }
    
    header a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    #who-Are{
        display: inline-flex;
    }

    #contact{
        display: inline-flex;
    }

    header a:hover{
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.664);
        padding: 5px;
        color: white;
        border-radius: 0px;
    }
    
    header a:active{
        background: none;
        border: none;
        border-bottom: 1px solid rgba(94, 207, 245);
        
        
    }
    
    
    .logo{
        margin-top: -97px;
        margin-left: 0;
        z-index: 1;
    }
    
    .menu1{
        z-index: 99;
    }
    header .logo a:hover{
        padding: 0;
        border: none;
        background-color: transparent;
    }
    
    header .menu2 img{
        margin-left: 5px;
        margin-bottom: 6px;
    }
    
    header .menu2 #heart2{
        display: none;
    }

    .menu2 button{
        border: none;
        color: white;
        background: none;
    }
    
    .menu2:active #heart2{
        display: inline-block;
        margin-bottom: 6px;
    
    }
    
    .menu2:active #heart{
        display: none;
    }
    
    ul li{
        list-style: none;
        color: white;
    }
    


    /*Conteúdo Inicial*/
    
    .main-section{
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        width: 100%;

    }
    
    .main-section .mid-content img{
        display: flex;
        height: 350px;
        width: 350px;
        margin-left: 80px;
        
    }
    
    .main-section .mid-content img:hover{
        transform: scale(1.1, 1.1) rotate(-5deg);
        
        transition: all .2s ease-in-out;
    }

    .main-section .mid-content .text{
        text-align: center;
        display: block;
    }

    .brincos{
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 50px;
        float: left;
        padding-left: 70px;
        margin-top: -20px;
        background: linear-gradient(#FFCB77, #ADF0F2);
        
    }
    
    #brinco-text{
        display: block;
        margin-top: -519px;
        padding: 30px;
        padding-top:160px ;
        padding-bottom:17px ;
        width: 50%;
        margin-left: 600px;
        float: right;
        font-size: 0.75em;
        background-color: none;
        background: none;
        
        
       
    }

    .text p{
        font-size: 2em;
        font-family: Baumans, sans-serif;
        
    }

    .text span{
        width: 80%;
    } 

    .mid-text{
        font-size: 1.3em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.712);

    }


    .pulseiras{
        display: flex;
        justify-content: right;
        background: linear-gradient(#adf0f2,#adf0f2);
        padding-bottom: 0px;
        margin-left: 0px;
        padding-top: 30px;
        padding-right: 50px;
       
    }
    
    #pulseiras-text{
        display: block;
        margin-top: -580px;
        background-color: none;
        background: none;
        padding: 30px;
        padding-top:100px ;
        padding-bottom:80px ;
        width: 54%;
        margin-left: 0px;
        font-size: 0.75em;
    }

    .colares{
        padding-top: 80px;
        padding-bottom: 80px;
        background: none;
        background: linear-gradient(#adf0f2,#F5CCE8, white);
    }

    #colares-text{
        display: block;
        margin-top: -445px;
        background-color: none;
        background: none;
        padding: 30px;
        padding-top:80px ;
        padding-bottom:7px ;
        width: 50%;
        margin-left: 495px;
        font-size: 0.75em;
        float: right;
        
    }
    
    .botao{
        display: block;
        text-decoration: none;
        background: linear-gradient( 80deg, rgba(94, 207, 245, 0.7), rgb(227, 245, 243));
        border: solid 1px rgb(255, 255, 255);
        border-radius: 8px;
        padding: 10px;
        font-size: 0.5em;
        margin: auto;
        margin-top: 15px;
        width: 30%;
        color: white;
        margin-top: 50px;
        
    }

    .botao:hover{
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.199);
        background: linear-gradient( 80deg,rgb(227, 245, 243),rgba(94, 207, 245, 0.7));
        color: white;
        transition: all .2s ease-in;
        
    }
/*Rodapé*/

footer{

    color: black;
    text-align: center;
    margin: auto;
    width: 90%;   
    font-family: Montserrat, sans-serif;
    margin-top: 200px;
}

footer .logofooter{
    margin-bottom: 20px;
}

footer .icon{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}


footer .allicons{
    width: 450px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#icon2{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.allicons .face, .whats, .maps, .instaicon{
    cursor: pointer;
    display: inline;
}

.allicons .face p, .whats p, .maps p, .instaicon p{
    opacity: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    width: 120px;
    font-size: 0.8em;
}

.allicons .face:hover p, .whats:hover p, .maps:hover p, .instaicon:hover p{
    width: 120px;       
    opacity: 1;
    height: 20px;
    transition: all 0.2s ease-out
}

footer img{
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer p{
    font-size: 0.7em;
    width: 80%;
    margin: auto;
    margin-bottom: 5px; 
}


.float{
    display: none;
}

.my-float{
    display: none;
} 
}

@media only screen and (min-width: 1200px) {
    *{
        margin: 0;
        padding: 0;
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box; 
    }
    
    @font-face {
        font-family: Baumans;
        src: url(Baumans-Regular.ttf);
    }
    
    @font-face {
        font-family: Roboto;
        src: url(Roboto-Bold.ttf);
    }
    
    @font-face {
        font-family: Montserrat;
        src: url(Montserrat-Light.ttf);
    }
    body{
        overflow-x: hidden;
    }

    /*Cabeçalho*/
    
    #menu-sm{
        display: none;
    }
    
    header{
        display: flex;
        height: 60px;
        background-color: rgb(255, 0, 179);
        background: linear-gradient(rgb(255, 0, 179,1),#FFCB77);
        
        justify-content: space-between;
        z-index: 2;
        border-bottom: none;
        position: sticky;
        width: 100%;
    }
    
    header .menu1, .menu2{
        display: inline-flex;
        justify-content: space-around;
        font-size: 0.87em;
        margin-top: 20px;
        font-family: Montserrat, sans-serif;
    }
    
    header a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    #who-Are{
        display: inline-flex;
    }

    #contact{
        display: inline-flex;
    }

    header a:hover{
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.664);
        padding: 5px;
        color: white;
        border-radius: 0px;
    }
    
    header a:active{
        background: none;
        border: none;
        border-bottom: 1px solid rgba(94, 207, 245);
        
        
    }
    
    
    .logo{
        margin-top: -97px;
        margin-left: 0;
        z-index: 1;
    }
    
    .menu1{
        z-index: 99;
    }
    header .logo a:hover{
        padding: 0;
        border: none;
        background-color: transparent;
    }
    
    header .menu2 img{
        margin-left: 5px;
        margin-bottom: 6px;
    }
    
    header .menu2 #heart2{
        display: none;
    }

    .menu2 button{
        border: none;
        color: white;
        background: none;
    }
    
    .menu2:active #heart2{
        display: inline-block;
        margin-bottom: 6px;
    
    }
    
    .menu2:active #heart{
        display: none;
    }
    
    ul li{
        list-style: none;
        color: white;
    }
    


    /*Conteúdo Inicial*/
    
    .main-section{
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        width: 100%;

    }
    
    .main-section .mid-content img{
        display: flex;
        height: 350px;
        width: 350px;
        margin-left: 80px;
        
    }
    
    .main-section .mid-content img:hover{
        transform: scale(1.1, 1.1) rotate(-5deg);
        
        transition: all .2s ease-in-out;
    }

    .main-section .mid-content .text{
        text-align: center;
        display: block;
    }

    .brincos{
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 50px;
        float: left;
        padding-left: 70px;
        margin-top: -20px;
        background: linear-gradient(#FFCB77, #ADF0F2);
        
    }
    
    #brinco-text{
        display: block;
        margin-top: -519px;
        padding: 30px;
        padding-top:160px ;
        padding-bottom:107px ;
        width: 50%;
        margin-left: 600px;
        float: right;
        font-size: 0.75em;
        background-color: none;
        background: none;
        
        
       
    }

    .text p{
        font-size: 2em;
        font-family: Baumans, sans-serif;
        
    }

    .text span{
        width: 80%;
    } 

    .mid-text{
        font-size: 1.3em;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.151);
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.712);

    }


    .pulseiras{
        display: flex;
        justify-content: right;
        background: linear-gradient(#adf0f2,#adf0f2);
        padding-bottom: 0px;
        margin-left: 0px;
        padding-top: 30px;
        padding-right: 50px;
       
    }
    
    #pulseiras-text{
        display: block;
        margin-top: -580px;
        background-color: none;
        background: none;
        padding: 30px;
        padding-top:100px ;
        padding-bottom:80px ;
        width: 54%;
        margin-left: 0px;
        font-size: 0.75em;
    }

    .colares{
        padding-top: 80px;
        padding-bottom: 80px;
        background: none;
        background: linear-gradient(#adf0f2,#F5CCE8, white);
    }

    #colares-text{
        display: block;
        margin-top: -445px;
        background-color: none;
        background: none;
        padding: 30px;
        padding-top:80px ;
        padding-bottom:7px ;
        width: 50%;
        margin-left: 495px;
        font-size: 0.75em;
        float: right;
        
    }
    
    .botao{
        display: block;
        text-decoration: none;
        background: linear-gradient( 80deg, rgba(94, 207, 245, 0.7), rgb(227, 245, 243));
        border: solid 1px rgb(255, 255, 255);
        border-radius: 8px;
        padding: 10px;
        font-size: 0.5em;
        margin: auto;
        margin-top: 15px;
        width: 30%;
        color: white;
        margin-top: 50px;
        
    }

    .botao:hover{
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.199);
        background: linear-gradient( 80deg,rgb(227, 245, 243),rgba(94, 207, 245, 0.7));
        color: white;
        transition: all .2s ease-in;
        
    }
/*Rodapé*/

footer{

    color: black;
    text-align: center;
    margin: auto;
    width: 90%;   
    font-family: Montserrat, sans-serif;
    margin-top: 200px;
}

footer .logofooter{
    margin-bottom: 20px;
}

footer .icon{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}


footer .allicons{
    width: 450px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#icon2{
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.allicons .face, .whats, .maps, .instaicon{
    cursor: pointer;
    display: inline;
}

.allicons .face p, .whats p, .maps p, .instaicon p{
    opacity: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    width: 120px;
    font-size: 0.8em;
}

.allicons .face:hover p, .whats:hover p, .maps:hover p, .instaicon:hover p{
    width: 120px;       
    opacity: 1;
    height: 20px;
    transition: all 0.2s ease-out
}

footer img{
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer p{
    font-size: 0.7em;
    width: 80%;
    margin: auto;
    margin-bottom: 5px; 
}


.float{
    display: none;
}

.my-float{
    display: none;
}  
}
